<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Acadêmico | Matheus Avellar</title>
	<%- include("components/head.ejs") %>
</head>
<body>
	<%- include("components/fonts.ejs") %>

	<%- include("components/header.ejs", { path: "academic" }) %>
	<%- include("components/academic.ejs") %>
	<%- include("components/footer.ejs", { path: "academic" }) %>
</body>
</html>
